@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2vh 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
header .logo {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: clamp(1rem, 5vw, 2rem);
}
header .logo:hover {
  color: #30fe6c;
}
header .nav {
  position: relative;
  display: flex;
  gap: 38px;
}
header .nav li {
  list-style: none;
}
header .nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.25em;
}

header ul li.active a,
header ul li:hover a {
  color: #30fe6c;
}

/* Media */
@media (max-width: 900px) {
  header {
    padding: 20px 30px;
  }
  header .nav {
    display: none;
  }
  header.active ul {
    position: fixed;
    left: 0;
    top: 79px;
    width: 100%;
    height: 100vh;
    padding-top: 1.5svh;
    background: rgba(50, 50, 50, 0.95);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    z-index: 10000;
    gap: 40px;
    color: #fff;
  }
  header.active ul a {
    font-size: 2em;
  }
  header.active .menuToggle::before {
    transform: translateY(20px) rotate(45deg);
    box-shadow: 0 0 #fff;
  }
  header.active .menuToggle::after {
    transform: translateY(20px) rotate(315deg);
    box-shadow: 0 0 #fff;
  }
  .menuToggle {
    position: relative;
    width: 39px;
    height: 39px;
    cursor: pointer;
  }
  .menuToggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateY(10px);
    transition: 0.5s;
    box-shadow: 0 10px #fff;
  }
  .menuToggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateY(30px);
    transition: 0.5s;
  }
}
.home {
  position: relative;
  width: 100%;
  min-height: 100svh;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vw;
  padding-top: 11vh;
}
.home_text {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
  z-index: 10;
}
.home_text p {
  position: relative;
  color: #fff;
  font-size: clamp(0.85rem, 4vw, 1.3rem);
  line-height: 1.6em;
}
.home .btnResponsive {
  display: none;
}

.home::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: max(10px, 5vw);
  min-width: 330px;
  width: 60vw;
  max-width: 670px;
  height: 40vw;
  max-height: 350px;
  background-color: #30fe6c;
  border-top-right-radius: 50vw;
  border-top-left-radius: 50vw;
}

.home .men {
  position: absolute;
  min-width: 300px;
  width: 50vw;
  max-width: 600px;
  right: 7vw;
  bottom: -6vw;
}

.btn {
  position: relative;
  display: inline-block;
  font-size: clamp(1em, 3vw, 1.2em);
  max-width: 200px;
  background-color: #30fe6c;
  color: #222;
  text-align: center;
  padding: 18px 30px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-decoration: none;
}

@media (max-width: 900px) {
  .home {
    align-items: start;
  }
  .home .content {
    width: 80%;
  }
  .home .btn {
    display: none;
  }
  .home .btnResponsive {
    margin-left: 20px;
    display: inline-block;
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 600px) {
  .home .content {
    width: 100%;
  }
  .home::before {
    content: "";
    position: absolute;
    bottom: -10;
    right: max(10px, 5vw);
    min-width: 330px;
    width: 60vw;
    max-width: 670px;
    height: 40vw;
    max-height: 350px;
    background-color: #30fe6c;
    border-top-right-radius: 50vw;
    border-top-left-radius: 50vw;
  }
  .home .men {
    position: absolute;
    right: 10vw;
    bottom: -16vw;
  }
}
.contact {
  position: relative;
  background-color: red;
  min-height: 100vh;
  padding: 120px 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.time {
  position: relative;
  background: #34353a;
  min-height: 100vh;
  padding: 50px 100px;
}

.content-text {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.content-text h2 {
  font-size: 3em;
  color: #fff;
}
.content-text p {
  min-width: 250px;
  width: 100%;
  max-width: 1050px;
  color: #aaa;
  font-size: clamp(0.8em, 1.5vw, 1.1em);
  line-height: 1.5em;
  text-align: center;
}

.list {
  width: 100%;
  min-height: 100svh;
  position: relative;
}
.list .bar {
  position: absolute;
  right: 16.2vw;
  width: 10px;
  height: 100%;
  background-color: #30fe6c;
  border-radius: 50px;
}

.item {
  position: relative;
  display: flex;
  align-items: start;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
.item:nth-child(2) {
  padding-top: 50px;
}
.item-grap {
  padding-right: 15vw;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 50px;
}
.item-grap .ball {
  background-color: #30fe6c;
  min-width: 30px;
  width: 3vw;
  min-height: 30px;
  height: 3vw;
  border-radius: 50%;
}
.item-grap span {
  color: #aaa;
  font-size: clamp(0.8em, 1.5vw, 1.1em);
  line-height: 1.5em;
  text-align: center;
}
.item-text {
  width: 60%;
  text-align: left;
}
.item-text p {
  min-width: 250px;
  width: 100%;
  max-width: 1050px;
  color: #aaa;
  font-size: clamp(0.8em, 1.5vw, 1.1em);
  line-height: 1.5em;
  text-align: left;
}
.item-text .subtitle {
  padding-left: 50px;
  display: flex;
  align-items: center;
}
.item-text .subtitle::before {
  content: "";
  background-color: #30fe6c;
  display: block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-radius: 50%;
}
.item-text .subtitle span {
  margin-left: 50px;
}
.item-text .mes {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  position: relative;
}
.item-text .mes span {
  position: absolute;
  right: -13.5vw;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}

.servicesBox {
  background: #2e2f34;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #2e2f34;
}
.servicesBox:hover {
  border: 2px solid #30fe6c;
}

.servicesBox img {
  max-width: 100px;
  filter: invert(1);
  opacity: 0.5;
  transition: 0.5s;
}

.servicesBox:hover img {
  opacity: 1;
}

.servicesBox h3 {
  color: #fff;
  font-weight: 500;
  color: #30fe6c;
}

.center {
  width: 100%;
  text-align: center;
}

@media (max-width: 900px) {
  .services,
  .time,
  .contact {
    padding: 100px 50px 50px;
  }
  .secText h2 {
    font-size: 2em;
    text-align: center;
  }
  .services .content,
  .time .box,
  .contact .contact-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .list .bar {
    position: absolute;
    right: 10vw;
  }
  .item-grap {
    padding-right: 9vw;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
  }
}
@media (max-width: 700px) {
  .services,
  .time,
  .contact {
    padding: 80px 30px 30px;
  }
  .services .content,
  .time .box,
  .contact .contact-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .list .bar {
    position: absolute;
    right: 5vw;
  }
  .item-grap {
    padding-right: 2.5vw;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
  }
  .item-text {
    width: 70%;
    text-align: left;
  }
  .item-text p {
    min-width: 250px;
    width: 100%;
    max-width: 1050px;
    color: #aaa;
    font-size: clamp(0.8em, 1.5vw, 1.1em);
    line-height: 1.5em;
    text-align: left;
  }
  .item-text .subtitle {
    padding-left: 15px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .item-text .subtitle::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    background-color: #30fe6c;
    display: block;
    width: 5px;
    height: 5px;
    margin-right: 5px;
    border-radius: 50%;
  }
  .item-text .subtitle span {
    margin-left: 50px;
  }
  .item-text .mes {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    position: relative;
  }
  .item-text .mes span {
    position: absolute;
    right: -8vw;
    color: #30fe6c;
  }
}
.portafolio {
  background: #2e2f34;
}
.portafolio .content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
  align-content: center;
  justify-content: center;
}

.imgBox {
  position: relative;
  max-width: 400px;
}
.imgBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 700px) {
  .portafolio .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.contact {
  background-color: #2e2f34;
}
.contact .secText {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .secText h2 {
  font-size: 3em;
  color: #fff;
}
.contact .secText p {
  min-width: 200px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  color: #aaa;
  font-size: clamp(0.8em, 1.5vw, 1.1em);
  line-height: 1.5em;
}
.contact-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}
.contact a {
  background: #2e2f34;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.2em;
  color: #fff;
  transition: 0.5s;
}
.contact a:hover {
  background: #30fe6c;
}
.contact a .fi {
  color: #30fe6c;
  font-size: 3em;
  transition: 0.5s;
  margin-right: 0;
}
.contact a:hover,
.contact a:hover .fi {
  color: #30fe6c;
}

.autor {
  margin-top: 150px;
  position: relative;
  color: #aaa;
  font-size: 1.2em;
}
.autor a {
  color: #30fe6c;
  display: inline;
  background: transparent;
}

@media (max-width: 700px) {
  .contact .content {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact .content a {
    height: 80px;
  }
  .autor {
    font-size: 0.8em;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.h1 {
  font-size: clamp(1.3rem, 4vw, 2rem) !important;
}

.h5 {
  font-size: clamp(0.6rem, 2vw, 0.9rem) !important;
}/*# sourceMappingURL=style.css.map */