@mixin pseudoBurger($tras){
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateY($tras);
    transition: 0.5s;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    backdrop-filter: blur(20px);
        
    .logo{
            position: relative;
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            font-size: 2em;
        }
        
        .nav{
            position: relative;
            display: flex;
            gap: 40px;

            li{
                list-style: none;

                a{
                    text-decoration: none;
                    color: #fff;
                    font-weight: 500;
                    font-size: 1.25em;
                }

            }

        }
}

header ul li.active a,
header ul li:hover a{
    color: #30fe6c;
}

/* Media */

@media (max-width:900px){
    header{
        padding: 20px 50px;
    }



    .menuToggle{
        position: relative;
        width: 30px;
        height: 20px;
        display: flex;
        justify-content: end;
        align-items: center;
        cursor: pointer;
        // background: #f00;

        &::before{
            @include pseudoBurger(-10);
            box-shadow: 0 10px #fff;
        }

        &::after{
            @include pseudoBurger(20px);
        }
    }
}