@mixin pseudoBurger($tras){
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateY($tras);
    transition: 0.5s;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2vh 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    backdrop-filter: blur(20px);
        
    .logo{
        position: relative;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        font-size:  clamp(1rem, 5vw, 2rem);
        
        &:hover{
            color: #30fe6c;
        }
    }
        
        .nav{
            position: relative;
            display: flex;
            gap: 38px;

            li{
                list-style: none;

                a{
                    text-decoration: none;
                    color: #fff;
                    font-weight: 500;
                    font-size: 1.25em;
                }

            }

        }

}

header ul li.active a,
header ul li:hover a{
    color: #30fe6c;
}

/* Media */

@media (max-width:900px){
    header{
        padding: 20px 30px;
    
        .nav{
            display: none;
        }
    }

    header.active ul{
        position: fixed;
        left: 0;
        top: 79px;
        width: 100%;
        height: 100vh;
        padding-top: 1.5svh;
        background: rgba(50, 50, 50, 0.95);
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        z-index: 10000;
        gap: 40px;
        color: #fff;
        

        a{
            font-size: 2em;
        }
    }

    header.active .menuToggle::before{
        transform: translateY(20px) rotate(45deg);
        box-shadow: 0 0 #fff;
    
    }
    header.active .menuToggle::after{
        transform: translateY(20px) rotate(315deg);
        box-shadow: 0 0 #fff;
    }

    .menuToggle{
        position: relative;
        width: 39px;
        height: 39px;
        cursor: pointer;

        &::before{
            @include pseudoBurger(10px);
            box-shadow: 0 10px #fff;
        }

        &::after{
            @include pseudoBurger(30px);
        }
    }
}