.home{
    position: relative;
    width: 100%;
    min-height: 100svh;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw;
    padding-top: 11vh;

    &_text{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 45%;
        z-index: 10;
        
        p{
            position: relative;
            color:  #fff;
            font-size: clamp(0.85rem, 4vw, 1.3rem);
            line-height: 1.6em;
        }
    }

    .btnResponsive{
        display: none;
    }

}

.home::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: max(10px, 5vw);
    min-width: 330px;
    width: 60vw;
    max-width: 670px;
    height: 40vw;
    max-height: 350px;
    background-color: #30fe6c;
    border-top-right-radius: 50vw;
    border-top-left-radius: 50vw;
}

.home .men{
    position: absolute;
    min-width: 300px;
    width: 50vw;
    max-width: 600px;
    right: 7vw;
    bottom: -6
    vw;
}

.btn{
    position: relative;
    display: inline-block;
    font-size: clamp(1em, 3vw, 1.2em);
    max-width: 200px;
    background-color:#30fe6c;
    color: #222;
    text-align: center;
    padding: 18px 30px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration: none;
}


@media (max-width:900px){

    .home {
        align-items: start;

        .content {
            width: 80%;
        }

        .btn{
            display: none;

        }

        .btnResponsive{
            margin-left: 20px;
            display: inline-block;
            width: 45px;
            height: 45px;
        }
    }
}


@media (max-width: 600px){

    .home .content{
        width: 100%;
    }
}