.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;

    .content{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 650px;
        z-index: 10;

    }
    h2{
        position: relative;
        font-size: 5em;
        color: #30fe6c;
    }
    p{
        position: relative;
        color:  #fff;
        font-size: 1.2em;
        line-height: 1.6em;
    }

}

.home::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: 25vw;
    background-color: #30fe6c;
    border-top-right-radius: 25vw;
    border-top-left-radius: 25vw;
}

.home .men{
    position: absolute;
    bottom: 0;
    right: 100px;
    max-height: 90vh;
    scale: 1.5;
}

.btn{
    position: relative;
    display: inline-block;
    font-size: 1.25em;
    max-width: 200px;
    background-color:#30fe6c;
    color: #222;
    text-align: center;
    padding: 18px 30px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration: none;
    margin-top: 10px;
}


@media (max-width:900px){
    .home{
        padding: 150px 50px;
        flex-direction: column;
        margin-bottom: 0;
    }

    .home{
        .content{
            h2{
                font-size: 4em;
            }
        }
    }

    .btn{
        max-width: 160px;
        padding: 10px 20px;
    }
    
    .men{
        position: absolute;
        height: 50vh;
        right: 0;

    }
}

@media (max-width: 700px){
    .home{
        .content{
            h2{
                font-size: 3em;
                p{
                    font-size: 1em;
                }
            }
        }
    }

    .home .men{
        height: 40vh;
        right: 0;
    }

    .home::before{
        width: 80vw;
        height: 40vw;
        background-color: #30fe6c;
        border-top-right-radius: 80vw;
        border-top-left-radius: 80vw;

    }
}