.portafolio{
    background: #2e2f34;
        .content{
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            margin: 40px 0;
            align-content: center;
            justify-content: center;
        }   

}

.imgBox{
    position: relative;
    max-width: 400px;
       
        img{
            width: 100%;
            height: 100%;
            object-fit:cover;
        }
                 

}


@media (max-width: 700px){
    .portafolio{
        .content{
            grid-template-columns: repeat(1, 1fr);

        }      
    }
}